<a href="https://colab.research.google.com/github/EddyGiusepe/Pytorch_Deep_Learning/blob/main/Logistic_Regression_with_Pytorch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <h2 align='center'>Logistic Regression with Pytorch</h2>

Data Scientist.: Dr.Eddy Giusepe Chirinos Isidro

In this Script we study based on the following video: [Python Engineer - Logistic Regression](https://www.youtube.com/watch?v=OGpQxIkR4ao&list=PLqnslRFeH2UrcDBWF5mfPGpqQDSta6VK4&index=9).


Here we implement a Logistic Regression Algorithm and apply some concepts, for example:

* Training Pipeline in Pytorch

* Model design

* Loss and optimizer

* Automatic training steps with forward pass, backward pass and weight updates.

## Importing our Libraries

In [1]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
from sklearn import datasets
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

## We prepare our Data

In [2]:
breast_cancer = datasets.load_breast_cancer()

x, y = breast_cancer.data, breast_cancer.target

In [3]:
x.shape

(569, 30)

In [4]:
y.shape

(569,)

In [5]:
n_samples, n_features = x.shape
print(n_samples, n_features)

569 30

In [6]:
# We convert "x" to DataFrame for better visualization

x_df = pd.DataFrame(x)
x_df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,17.99,10.38,122.8,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,25.38,17.33,184.6,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.9,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,24.99,23.41,158.8,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.0,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,23.57,25.53,152.5,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758

In [7]:
# We convert "y" to DataFrame for better visualization

y_df = pd.DataFrame(y)
y_df.head(2)

   0
0  0
1  0

In [8]:
# We show this Data with columns names

teste = pd.read_csv('/content/drive/MyDrive/2_DEEP_LEARNING_REDES_NEURAIS_Jorge/1_Pytorch_Deep_Learning/Pytorch_examples/data_breast_cancer.csv')
teste.head(2)

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.8,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.6,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.9,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.8,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN

## Split our Data

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1234)

## Scale our features

Make our features to have ``zero mean`` and ``unit variance``. This is always recommended to do and when we want to deal with a ``Logistic Regression``, so now we sclae our Data.

In [10]:
sc = StandardScaler()


x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [11]:
# Now convert to torch

x_train = torch.from_numpy(x_train.astype(np.float32))
x_test = torch.from_numpy(x_test.astype(np.float32))
y_train = torch.from_numpy(y_train.astype(np.float32))
y_test = torch.from_numpy(y_test.astype(np.float32))

In [13]:
# next step prepare our Data is to reshape our y tends us so y_train

y_train = y_train.view(y_train.shape[0], 1)
y_test = y_test.view(y_test.shape[0], 1)

## Our Model

The idea: $f = w.x + b$, Sigmoid at the end.

In [14]:
class Model(nn.Module):
  
    def __init__(self, n_input_features):
        super(Model, self).__init__()
        self.linear = nn.Linear(n_input_features, 1)

    def forward(self, x):
        y_pred = torch.sigmoid(self.linear(x))
        return y_pred

In [15]:
model = Model(n_features)

## Loss and Optimizer

In [16]:
num_epochs = 100
learning_rate = 0.01

criterion = nn.BCELoss() # Binary Cross-Entropy Loss
optimizer = torch.optim.SGD(model.parameters(), lr=learning_rate) # SGD = Stochastic Gradient Descent

## Training Loop

In [17]:
for epoch in range(num_epochs):
    # Forward pass and loss
    y_pred = model(x_train)
    loss = criterion(y_pred, y_train)

    # Backward pass and update
    loss.backward()
    optimizer.step()

    # zero gradients before new step
    optimizer.zero_grad()

    if (epoch+1) % 10 == 0:
        print(f'epoch: {epoch+1}, loss = {loss.item():.4f}')

epoch: 10, loss = 0.5718
epoch: 20, loss = 0.4667
epoch: 30, loss = 0.4013
epoch: 40, loss = 0.3566
epoch: 50, loss = 0.3239
epoch: 60, loss = 0.2989
epoch: 70, loss = 0.2789
epoch: 80, loss = 0.2626
epoch: 90, loss = 0.2490
epoch: 100, loss = 0.2373

In [18]:

with torch.no_grad():
    y_predicted = model(x_test)
    y_predicted_cls = y_predicted.round()
    acc = y_predicted_cls.eq(y_test).sum() / float(y_test.shape[0])
    print(f'accuracy: {acc.item():.4f}')

accuracy: 0.9211